<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ebukom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".arch.ui.classdetail.school.schoolannouncement.schoolannouncementedit.SchoolAnnouncementEditActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".arch.ui.classdetail.school.schoolannouncement.schoolannouncementdetail.SchoolAnnouncementDetailActivity"/>
        <activity android:name=".arch.ui.forgotpassword.resetpassword.ResetPasswordActivity" />
        <activity android:name=".arch.ui.classdetail.MainClassDetailActivity"/>
        <activity android:name=".arch.ui.joinclass.JoinClassActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".arch.ui.editprofile.EditProfileActivity" />
        <activity android:name=".arch.ui.chooseclass.ChooseClassActivity" />
        <activity android:name=".arch.ui.register.school.RegisterSchoolActivity" />
        <activity android:name=".arch.ui.register.parent.RegisterParentActivity" />
        <activity android:name=".arch.ui.forgotpassword.verification.VerificationActivity" />
        <activity android:name=".arch.ui.forgotpassword.sendcode.SendCodeActivity" />
        <activity android:name=".arch.ui.login.LoginActivity" />
        <activity android:name=".arch.ui.splash.SplashActivity" />
        <activity android:name=".arch.ui.main.MainActivity" />
    </application>

</manifest>