<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ebukom">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".arch.ui.admin.adminschoolfeeinfo.AdminSchoolFeeInfoAddNoteActivity"></activity>
        <activity android:name=".arch.ui.admin.adminschoolfeeinfo.AdminSchoolFeeInfoAddPaymentItemActivity" />
        <activity android:name=".arch.ui.admin.AdminShareSchoolFeeInfoActivity" />
        <activity android:name=".arch.ui.admin.MainAdminActivity" />
        <activity android:name=".arch.ui.classdetail.personal.personalparent.personalparentschoolfeeinfo.PersonalParentSchoolFeeInfoActivity" />
        <activity android:name=".arch.ui.classdetail.material.materialeducation.materialeducationedit.MaterialEducationEditActivity" />
        <activity android:name=".arch.ui.classdetail.material.materialeducation.materialeducationdetail.MaterialEducationDetailActivity" />
        <activity android:name=".arch.ui.classdetail.material.materialeducation.materialeducationnew.MaterialEducationNewActivity" />
        <activity android:name=".arch.ui.classdetail.material.materialsubject.MaterialSubjectAddActivity" />
        <activity android:name=".arch.ui.classdetail.material.materialsubject.MaterialSubjectNewActivity" />
        <activity android:name=".arch.ui.classdetail.personal.personalnotenew.PersonalNoteNewNextActivity" />
        <activity android:name=".arch.ui.classdetail.personal.personalnotenew.PersonalNoteAddTemplateActivity" />
        <activity
            android:name=".arch.ui.classdetail.personal.personalnotenew.PersonalNoteNewActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".arch.ui.classdetail.school.schoolphoto.schoolphotonew.SchoolPhotoNewActivity" />
        <activity android:name=".arch.ui.classdetail.school.schoolschedule.schoolschedulenew.SchoolScheduleNewActivity" />
        <activity android:name=".arch.ui.classdetail.school.schoolannouncement.schoolannouncementnew.SchoolAnnouncementNewNextActivity" />
        <activity android:name=".arch.ui.classdetail.school.schoolannouncement.SchoolAnnouncementAddTemplateActivity" />
        <activity
            android:name=".arch.ui.classdetail.school.schoolannouncement.schoolannouncementnew.SchoolAnnouncementNewActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".arch.ui.classdetail.school.schoolannouncement.schoolannouncementedit.SchoolAnnouncementEditActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".arch.ui.classdetail.school.schoolannouncement.schoolannouncementdetail.SchoolAnnouncementDetailActivity" />
        <activity android:name=".arch.ui.forgotpassword.resetpassword.ResetPasswordActivity"/>
        <activity android:name=".arch.ui.classdetail.MainClassDetailActivity" />
        <activity android:name=".arch.ui.joinclass.JoinClassActivity" />
        <activity android:name=".arch.ui.classdetail.notification.NotificationActivity" />
        <activity android:name=".arch.ui.editprofile.EditProfileActivity" />
        <activity android:name=".arch.ui.chooseclass.ChooseClassActivity" />
        <activity android:name=".arch.ui.register.school.RegisterSchoolActivity" />
        <activity android:name=".arch.ui.register.parent.RegisterParentActivity" />
        <activity android:name=".arch.ui.forgotpassword.verification.VerificationActivity"/>
        <activity android:name=".arch.ui.forgotpassword.sendcode.SendCodeActivity" />
        <activity android:name=".arch.ui.login.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".arch.ui.splash.SplashActivity" />
        <activity android:name=".arch.ui.main.MainActivity" />
    </application>

</manifest>